body {
    margin: 0;
    background-color: cornflowerblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
.banner {
    margin: auto;
    padding: 50px 0 50px 0;
    width: 800px;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
}
.nav {
    padding: 10px;
    background-color: cadetblue;
}
.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
}
li {
    display: inline-block;
}
li a {
    padding: 10px;
    color: white;
    text-decoration: none;
}
li a:hover {
    color: cyan;
}
.container {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    word-spacing: -1ch;
}
main {
    margin-right: 10px;
    display: inline-block;
    width: calc(75% - 10px);
    vertical-align: top;
    word-spacing: normal;
}
.post {
    display: block;
}
article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    background-color: white;
}
article a {
    color: inherit;
    text-decoration: none;
}
.post-info {
    padding: 0 20px 0 20px;
}
aside {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    word-spacing: normal;
    background-color: white;
}
.author {
    display: block;
    padding: 20px 10px;
    text-align: center;
}
.author-img {
    width: 100px;
}
footer {
    padding: 10px;
    color: white;
    background-color: cadetblue;
    text-align: center;
}
.post-detail {
    padding: 15px;
}
.material-icons {
    position: fixed;
    bottom: 25px;
    right: 30px;
    color: cyan;
}
.material-icons.md-36 {
    font-size: 36px;
}